* 
{
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;

}

#landing_page 
{
	position: relative;
	width: 1200px;
	max-width: 100%;
	display: flex;
	margin: 20px auto;


}

#message
{
	
	flex: 40%;
	position: relative;
	font-weight: bold;
	top: 200px;

}
#message h2
{
	color: blue;
	font-weight: bold;
}
#login
{
	flex: 60%;
	position: relative;
}

#finput
    {
      width: 350px;
      margin: 0 auto;
      margin-top: 200px;
    }

    #sinput
    {
      width: 350px;
      margin: 0 auto;
      margin-top: 15px;
    }
    form
    {
      margin: 0 auto;
      width: 500px;
      height: 100px;

    }